:root {
  --nav-bg-color: #d5d5d5;
  --nav-text-color: #333333;
  --body-bg-color: #1d1d1d;
  --accent-color: #333333;
  --aceent-hover-color: #f1961fd0;
  --button-bg-color: #11ec36;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

nav h1 {
  color: #333333;
  font-size: 24px;
}

nav div a {
  color: #333333;
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
}

nav div a:hover {
  text-decoration: underline;
}

nav div button {
  background-color: var(--button-bg-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

nav div button:hover {
  background-color: var(--aceent-hover-color);
}

main {
  display: flex;
  background-color: var(--body-bg-color);
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
  gap: 20px;
}
.main-left {
  color: #d5d5d5;
  width: 80%;
  margin: 60px auto;
}

.main-left h2 {
  font-size: 60px;
  margin-bottom: 20px;
}
.main-left p {
  font-size: 16px;
  color: #d5d5d5;
  flex-wrap: wrap;
}
.main-left button {
  background-color: var(--button-bg-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.main-left button:hover {
  background-color: var(--aceent-hover-color);
}
.main-right img {
  width: 600px;
  border-radius: 8px;
}

.content h2 {
  color: #d5d5d5;
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.cohort-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cards {
  background-color: var(--nav-bg-color);
  color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  flex-direction: column;
}
.cards button {
  background-color: var(--button-bg-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.cards button:hover {
  background-color: var(--aceent-hover-color);
}
.cards img {
  width: 100%;
  border-radius: 8px;
  margin: 15px;
  justify-content: center;
}
.footer {
  background-color: var(--nav-bg-color);
  color: #333333;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 40px;
}
.footer div {
  margin-bottom: 10px;
  width: 250px;
}
.footer-sec2 a {
  color: #333333;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
footer-sec2 h3 {
  margin-bottom: 10px;
}
copyright {
  text-align: center;
  color: #d5d5d5;
  margin: 20px 20px;
}
